.meteo {
    min-width: 200px;
    max-width: 300px;
    margin: 0.5rem auto;
    background-color: rgba(65, 98, 187, 0.8);
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
}

.meteo-container {
    display: flex;
}

.meteo-infos {
    width: 100%;
}

.meteo-temperature {
    text-align: right;
    margin: 0;
    font-size: 2.5em;
}

.meteo-city {
    margin: 0;
    font-size: 1.5em;
}

.meteo-code {
    margin: 0;
    /* opacity: .25; */
    color: #FFF;
}

.infosContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infosSupp{
    text-align: right;
    color: #ddd;
}